@import '../abstracts/mixins';

mat-card {
    @include card-style(white, black);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 var(--spacing-extra-small) var(--spacing-small) rgba(0, 0, 0, 0.2);
}

mat-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

mat-card-header {
    display: flex;
    justify-content: center;
}

.more-details {
    color: var(--color-secondary);
}
mat-card-content {
    padding: var(--spacing-small) !important;
}

mat-card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

mat-card-subtitle {
    color: var(--color-primary);
}