<div class="list">
  <h2>Star Wars - List of vehicles</h2>
  <app-filter-form [fields]="filterFields" (filterChanged)="onFilterChanged($event)"></app-filter-form>
  <div *ngIf="filteredVehicles$ | async as vehicles">
    <div *ngIf="vehicles.length" class="row">
      <div *ngFor="let vehicle of vehicles" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4"
        (click)="goToDetails(vehicle)">
        <app-vehicle-card [vehicle]="vehicle"></app-vehicle-card>
      </div>
    </div>
  </div>
</div>