<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="true" class="sidenav">
    <mat-toolbar color="primary">
      <span><img src="../../../../assets/img/star-wars-logo-3-1.png" style="max-width: 10%; min-width: 75px;"></span>
    </mat-toolbar>
    <mat-nav-list *ngIf="routes">
      <mat-list-item *ngFor="let route of routes" [routerLink]="route.route" (click)="returnRoute( route )"
        [ngClass]="{ 'selected': route.selected }">
        <mat-icon>{{route.icon}}</mat-icon>
        <span>{{route.title}}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>